---
import Layout from "@layouts/Layout.astro";
import Logo from "@components/Logo.svelte";
import CrewDisplay from "@components/CrewDisplay.svelte";
import Footer from "@components/Footer.svelte";

const lang = "sv";
---
<Layout {lang} title="Om oss">
    <header>
        <Logo /> <h1> - Om oss </h1>
    </header>
    <main>
        <section class="intro">
            <h1> Introduktion </h1>
            <p> Vi är ett gäng studenter på NTI Gymnasiet Karlstad som på impuls skapade ett eget spelutvecklingsföretag. Det startade när Odin (vår CEO och Grundare) tog entreprenörskapskursen, och vi såg att "Make A Game" evenemanget hos UF gav oss möjlighet att skapa ett spelutvecklingsföretag. Vilket är exakt vad vi gjorde. </p>
        </section>
        <section class="crew-container">
            <h1> Möt teamet </h1>
            <ul>
                <CrewDisplay lang="sv" />
            </ul>
        </section>
    </main>
    <Footer {lang} />
</Layout>

<style lang="scss">
    header {
        @apply flex flex-row gap-2 text-2xl font-sauce justify-center items-center py-24;
    }
    .crew-container {
        @apply flex flex-col items-center justify-center gap-4;
        ul {
            @apply flex flex-row gap-8 justify-center flex-wrap;
        }
        h1 {
            @apply text-2xl underline decoration-goop-green font-sauce underline-offset-4;
        }
    }
    main {
        @apply flex flex-col gap-24;
    }
    .intro {
        @apply flex flex-col gap-4 items-center;
        h1 {
            @apply text-2xl underline decoration-goop-green font-sauce underline-offset-4;
        }
        p {
            @apply landscape:w-1/2 px-4 text-lg;
        }
    }
</style>

