---
import Layout from "@layouts/Layout.astro";
import Logo from "@components/Logo.svelte";
import Footer from "@components/Footer.svelte";

const lang = "sv";
---
<Layout {lang} title="Om oss" slot="body">
    <header>
        <h1> <Logo /> </h1>
    </header>
    <main>
        <p>Vi är ett gäng som gillar att bygga saker. Vi har byggt den här sidan för att vi tycker att det är kul. Vi hoppas att du tycker om den.</p>
    </main>
    <Footer {lang} />
</Layout>
