---
import { getRelativeLocaleUrl } from 'astro:i18n'
import Layout 	from '@layouts/Layout.astro'
import Footer 	from '@components/Footer.svelte'
import Button 	from '@components/Button.svelte'
import Card 	from '@components/Card.svelte'
import GameLogo from '@components/GameLogo.svelte'

const lang = "sv"
---

<Layout title="Hem" {lang}>
	<header>
		<div class="blurry"></div>
		<GameLogo />
		<section class="contribute">
			<Button text="Bidra" href={getRelativeLocaleUrl("sv", "contribute")} />
			<Button text="Visa Källkod" href="https://github.com/goop-studios/game" />
			<Button text="Discord" href="https://discord.gg/TF4tGde7kh" />
		</section>
	</header>
	<main>
		<section class="about_section">
			<ul>
				<Card title="Vad är detta?" body="Det här är ett framtida voxelbaserat, roguelike/soulslike öppet världsspel som kommer att drivas av gemenskapen. Vilket då innebär att gemenskapen kommer att kunna bidra till spelet." />
				<Card title="Varför?" body="Det här spelet började som ett projekt för vår entreprenörskapsklass på NTI Gymnasiet, Karlstad. Men på grund av brist på tid för att skapa en teknisk demo, beslutade vi att fokusera på att göra det till ett gemenskaps-baserat spel." />
				<Card title="Hur kommer detta fungera?" body="Ideén är ganska enkel egentligen. Spelet kommer att vara gratis att kompilera/bygga, utan annonser och öppen källkod. Spelet kommer att drivas av gemenskapen, vilket innebär att gemenskapen kommer att kunna bidra till spelet. Vi har en Discord-server där vi kommer att diskutera status och vad spelet kommer att bli, bland oss själva och även med gemenskapen, vilket kommer att vara ett sätt att bidra till spelet. Men det finns en hake, när vi publicerar spelet på Steam och andra plattformar, för att få en gratis licens måste du ha bidragit till spelet på ett eller annat sätt. Men att bara ändra README-filen i repot eller ändra 1-2 rader som knappt gör någon förändring kommer inte att räcka för en licens. Godkännande för att få en licens beviljad kommer att granskas personligen av personalen på Goop Studios." />
				<Card title="När grundades företaget?" body="Vårat företag är rätt nytt då det grundades 2023 i augusti med hjälp av Ung Företagsamhet på entreprenörskapskursen vi tar, där vi har som uppgift att skapa ett spel för vårat företag." />
				<Card title="Hur kan jag hjälpa till?" body="Du kan bidra till sidan genom att gå till bidra-sidan eller genom att besöka vår GitHub, båda knapparna finns ovanför. Du kan också bidra till spelet genom att gå med i vår Discord-server och diskutera spelet med oss." />
			</ul>
		</section>
	</main>
	<Footer {lang} />
</Layout>


<style lang="scss">
	header {
		@apply flex flex-col items-center justify-center gap-80 max-w-full z-0;
		@apply py-40 relative;
		@apply bg-[url('/assets/teaserbg/pictura.webp')] bg-center rounded-lg;
		section.contribute {
			@apply flex flex-row items-center gap-8 relative justify-center flex-wrap;
		}
		div.blurry {
			@apply backdrop-blur-md absolute w-full h-full rounded-lg;
		}
	}
	main {
		@apply flex flex-col items-center justify-center;
		section.about_section {
			ul {
				@apply flex flex-row flex-wrap justify-center gap-8;
			}
			div {
				@apply flex flex-row;
			}
		}
	}
</style>
