---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.svelte";
---

<Layout title="Contribute" slot="body">
    <header>
        <h1>Contribute</h1>
    </header>
    <main>
        <p>Contribute to the project</p>
    </main>
    <Footer />
</Layout>
