---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.svelte'
import Button from '../components/Button.svelte'
import Card from '../components/Card.svelte'
import Logo from '../components/Logo.svelte'
---

<Layout title="Home">
	<header>
		<Logo></Logo>
	</header>
	<main>
		<section class="contribute">
			<Button text="Contribute" href="/contribute" />
			<Button text="View Source" href="https://github.com/goop-studios/game" />
		</section>
		<section class="about_section">
			<ul>
				<Card title="What is this?" body="This is a future voxel based, roguelike/soulslike open world game. It will be community driven, meaning that the community will be able to contribute to the game." />
				<Card title="Why is this?" body="This game started off as a project for our entrepreneurship class at NTI Gymnasiet, Karlstad. But due to lack of time making a tech demo, we decided to focus on making it more of a community based game." />
				<Card title="How will this work?" body="The idea is quite simple really, the game will be free, ad free and open source. The game will be community driven, meaning that the community will be able to contribute to the game. We will have a discord server where we will discuss the game and the community will be able to contribute to the game, but there's a catch, to actually get a free license on steam or whatever, you will have to have contributed to the game in one way or another. Although simply changing the readme of the repo or changing 1-2 lines that bring barely any change won't be enough. Validity of license grant gets reviewed by the staff of Goop Studios." />
				<Card title="When did this start?" body="The company was founded in 2023 as a part of an event in our local area with the task of developing a game for our own company." />
				<Card title="How do I contribute?" body="You can contribute to the page by going to the contribute page or by visiting our github, both buttons are above. You can also contribute to the game by joining our discord server and discussing the game with us." />
			</ul>
		</section>
	</main>
	<Footer />
</Layout>




<style lang="scss">
	header {
		@apply flex flex-col items-center justify-center gap-8;
		@apply p-52;
		h1 {
			@apply text-2xl font-sauce;
		}
	}
	main {
		@apply flex flex-col items-center justify-center gap-8 overflow-hidden;
		section.contribute {
			@apply flex flex-row items-center justify-center gap-8;
		}
		section.about_section {
			ul {
				@apply flex flex-row flex-wrap justify-center gap-8;
			}
			div {
				@apply flex flex-row;
			}
		}
	}
</style>
