---
import Layout from '../../layouts/Layout.svelte'
---


<Layout title="h4rl" client:load>
  <h1>h4rl</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, corporis. Nulla doloribus, quae molestiae natus quaerat saepe a, nobis, nemo illum sequi ipsam?</p>
</Layout>