---
import Layout from '../../layouts/Layout.astro'
---


<Layout title="Intancote">
    <h1>Intancote</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, corporis. Nulla doloribus, quae molestiae natus quaerat saepe a, nobis, nemo illum sequi ipsam?
        </p>
</Layout>