---
import Nav from "../components/Nav.svelte";
const { title, lang = "en" } = Astro.props;


---

<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <title>Goop Studios - {title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/assets/favicon_green.svg" />
    </head>
    <body>
        <Nav client:only />
        <div>
            <slot />
        </div>
    </body>
</html>



<style lang="scss">
    @font-face {
        font-family: 'Sauce Code Pro NFP';
        src: 
            local("SauceCodePro NFP"),
            url('/fonts/SauceCodeProNFP-Regular.ttf') format("truetype");
    }

    @font-face {
        font-family: 'Ubuntu NFP';
        src:
            local("Ubuntu Nerd Font Propo"),
            url('/fonts/UbuntuNerdFontPropo-Regular.ttf') format("truetype");
    }

    * {
        @apply bg-gray-900 text-white font-ubuntu;
    }

    div {
        @apply flex flex-col gap-8;
    }
</style>